In [1]:
import pandas as pd

In [12]:
dataset = {"what": [1,2, 6, 3, 2, 6, 7, 9, 5, 6], "who": ['q','w', 'e', 'r', 'r', 'q', 'q', 'w', 'w', 'w']}

In [13]:
df=pd.DataFrame(dataset)

In [14]:
df

   what who
0     1   q
1     2   w
2     6   e
3     3   r
4     2   r
5     6   q
6     7   q
7     9   w
8     5   w
9     6   w

In [15]:
x = df.groupby("who").
x.head()

   what who
0     1   q
1     2   w
2     6   e
3     3   r
4     2   r
5     6   q
6     7   q
7     9   w
8     5   w
9     6   w

In [16]:
x.nth(1)

     what
who
q       6
r       2
w       9

In [5]:
["a"+str(x+1)+".csv" for x in range(6)]

['a1.csv', 'a2.csv', 'a3.csv', 'a4.csv', 'a5.csv', 'a6.csv']

In [6]:
data_file_list = ["backup_foursquare_venues_data"+str(x+1)+".csv" for x in range(12)]
data_file_list

['backup_foursquare_venues_data1.csv',
 'backup_foursquare_venues_data2.csv',
 'backup_foursquare_venues_data3.csv',
 'backup_foursquare_venues_data4.csv',
 'backup_foursquare_venues_data5.csv',
 'backup_foursquare_venues_data6.csv',
 'backup_foursquare_venues_data7.csv',
 'backup_foursquare_venues_data8.csv',
 'backup_foursquare_venues_data9.csv',
 'backup_foursquare_venues_data10.csv',
 'backup_foursquare_venues_data11.csv',
 'backup_foursquare_venues_data12.csv']

In [8]:
import pandas as pd

In [9]:
#Read venues from backup
CSV_df1 = pd.read_csv("backup_foursquare_venues_data1.csv", skip_blank_lines=True,\
                      usecols=["State","ZIP","Venue Category HIGH","Venue","Venue Category LOW"])

CSV_df1.reset_index(inplace=True)
CSV_df1.drop(["index"], axis=1, inplace=True)
CSV_df1.shape

(5585, 5)

In [10]:
#Read venues from backup
CSV_df2 = pd.read_csv("backup_foursquare_venues_data2.csv", skip_blank_lines=True,\
                      usecols=["State","ZIP","Venue Category HIGH","Venue","Venue Category LOW"])

CSV_df2.reset_index(inplace=True)
CSV_df2.drop(["index"], axis=1, inplace=True)
CSV_df2.shape

(35192, 5)

In [ ]:
venues_df = pd.concat([CSV_df1, CSV_df2], ignore_index=True)

In [11]:
e_df = pd.DataFrame()

In [16]:
e_df = pd.concat([e_df, CSV_df1], ignore_index=True)

In [17]:
e_df.head()

,State,ZIP,Venue Category HIGH,Venue,Venue Category LOW
0,CA,90058,Arts & Entertainment,mmocake,Art Gallery
1,CA,90058,Arts & Entertainment,Crystal Art Gallery,Art Gallery
2,CA,90058,Arts & Entertainment,Crystal Art Gallery,Art Gallery
3,CA,90058,Arts & Entertainment,Masterpiece Art Gallery,Art Gallery
4,CA,90058,Arts & Entertainment,belgrave academy of mixology,Music Venue

In [1]:
import time
seconds = time.time()
print("Seconds since epoch =", seconds)

Seconds since epoch = 1594973620.4937017

In [2]:
local_time = time.ctime(seconds)
print("Local time:", local_time)

Local time: Fri Jul 17 03:13:40 2020